.row{
    background-color:  var(--color-bg-demote);
    border: solid 1.5px var(--color-border);
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 5px;
    align-items: center;
    width: 100%;
    
    .collumn{
        flex: none;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;

        &.collumn-descricao{
            flex: 1 0 0;
        }
        &.collumn-number input{
            width: 100%;
            padding: 10px;
            font-size: 1.2em;
            text-align: right;
        }

        input, select {
            width: 100%;
            padding: 10px;
            background-color: var(--color-bg-elev);
            border: solid 1.5px var(--color-border);
            border-radius: 5px;
        }
        &:last-child{
            margin-right: -10px;
            button{
                padding: 5px;
                background-color: var(--color-border);
                &:hover{
                    background-color: var(--color-primary);
                    color: white;
                }
            }
        }
        .pagante{
            position: relative;
            &>img{
                width: 40px;
                position: absolute;
                top: 0px;
                left: 0px;
                border-radius: 5px 0 0 5px;
            }
            &>select{
                padding-left: 45px;
            }
        }
    }
    &:first-child{
        border-radius: 5px 5px 0 0;  
    }
    &:last-child{
        border-radius: 0 0 0 5px;  
        border-bottom-width: 5px;
    }
}
#add-conta{
    display: table;
    margin: 0 0 0 auto;
    font-weight: 600;
    background-color: var(--color-border);
    border-radius: 0 0 10px 10px;
    &:hover{
        background-color: var(--color-primary);
        color: white;
    }
}
#salvar-conta{
    display: block;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--color-text);
    color: var(--color-bg-elev);
    border-radius: 0 0 10px 10px;
    &:hover{
        background-color: var(--color-primary);
        color: white;
    }
}
.result-mes{
    border-radius: 5px 5px 0 0;
    background-color: var(--color-bg-demote);
    border: solid 1.5px var(--color-border);
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px 15px;
    gap: 5px;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    
    &>div{
        flex: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        flex: 1 0 0;
        &>span:first-child{ font-weight: 800; padding-bottom: 10px; display: block; }
        &>span:last-child{ font-size: 2.5em; }
    }
}